/*
body {
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('images/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
*/

.modal-body {
	padding: 0px;
}

.photo-col {
	padding-left: 0px;
	padding-right: 0px;
}

#icon-birthday {
	vertical-align: bottom;
}

/*
#newyeargif {
	visibility: hidden;
}*/

.btn {
	font-size: 1.5em;	
}

#top {
	margin-top: 15px;
	margin-bottom: 20px;
}


#bottom-link {
	margin-top: 10px;
	margin-bottom: 15px;
}

li.scratch-logo {
  line-height: 70px;
}

.scratch-logo a {
	display: block;
	width: 150px;
	height: 70px;	
	transition: all .15s;
	transition-timing-function: ease;

  	background-image: url(images/logo_scratch.png);
  	background-size: 95%; 
	background-repeat: no-repeat;
	background-position: center center;  	

	margin-left: -10px;
}

.scratch-logo a:hover {
  width: 160px;
}

/*
.container {
	box-shadow: 0 0 20px #AAA;
}

.row {
	background-color: hsla(100, 100%, 100%, 0.5);
}*/


/************ Medium devices ************/
/*
@media (min-width: 768px) and (max-width: 991.98px) {
	.photo-col {
		display: table-row;
		float: left;
		position: relative;
		left: 0px;
	}
}
*/

.btn-check:focus+.btn-success, .btn-success:focus {
	box-shadow: 0 0 0 0;
}

/************ Small devices ************/
@media (max-width: 767px) {
	h1 {
		font-size: 8vw;
	}

	h2 {
		font-size: 7vw;
	}
	
	p, li, a {
		font-size: 5vw;
	}

	.btn, .accordion-button {
			font-size: 7vw;	
	}

	.icon {
		width: 64px;
	}

	.col3-button {
		text-align: center;
	}

	.scratch-logo a {
		width: 240px;
		height: 70px;		
	}

	.scratch-logo a:hover {
	  width: 250px;
	}	

}